//  pipline ALU design


ALU.v  // ALU top file
ALU_adder.v
ALU_Boolean.v
ALU_cmp.v
ALU_shifter.v
good_adder.v  // carry-lookhead adder


Data_Mem.v  
Inst_Mem.v
Peripheral.v


PC.v   // PC register
IFtoID.v  //  IF/ID register
IDtoEX.v  //   ID/EX register
EXtoMEM.v  //  EX/MEM register
MEMtoWB.v    //   MEM/WB register


Control.v
RegFile.v

CPU_pipeline.v // top pipline CPU design

testbench_CPU.v  // testbench

forward.v  // forwarding unit
hazard.v   //  load-use hazard detecting unit

uart_rx.v
uart_tx.v

